<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lighthouse Performance Audits</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐈‍⬛</text></svg>"
    />
    <style>
      {{SHARED_STYLES}}
    </style>
  </head>
  <body>
    <div class="container">
      <h1>🗼 Lighthouse Performance Audits</h1>
      {{DESCRIPTION}}
      <ul>
        {{LIST_ITEMS}}
      </ul>
      {{NOTES}}
    </div>
  </body>
</html>
